// Variables
$primary-dark-cyan: hsl(158, 36%, 37%);
$primary-cream: hsl(30, 38%, 92%);

$neutral-very-dark-blue: hsl(212, 21%, 14%);
$neutral-dark-grayish-blue: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

$font-size: 14px;

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-fraunces: 'Fraunces', serif;

$font-weight-500: 500;
$font-weight-700: 700;

$desktop-width: 1440px;
$mobile-width: 375px;

// Styles

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100%;
  background-color: $primary-cream;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: $desktop-width;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.product {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $neutral-white;

  @media (max-width: 375px) {
    flex-direction: column;
    width: 100%;
  }
}

.product-img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;

  @media (max-width: 375px) {
    width: 100%;
    border-radius: 0;
  }
}
.left {
  //   width: 50%;
  background-color: $neutral-white;
  height: 100%;
  padding-inline: 40px;
  border-radius: 0 10px 10px 0;
}

h1 {
  font-family: $font-family-fraunces;
  font-size: 36px;
  font-weight: $font-weight-500;
}

h2 {
  font-family: $font-family-montserrat;
  text-transform: uppercase;
  font-size: $font-size;
  font-weight: $font-weight-500;
  letter-spacing: 4px;
  color: $neutral-dark-grayish-blue;
}

p {
  font-size: $font-size;
  font-family: $font-family-montserrat;
  color: $neutral-dark-grayish-blue;
  font-weight: $font-weight-500;
}

.price {
  display: flex;
  align-items: center;

  &__main {
    font-family: $font-family-fraunces;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: $font-weight-500;
    color: $primary-dark-cyan;
  }

  &__discount {
    text-decoration: line-through;
    font-size: $font-size;
    margin-inline: 20px;
  }
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark-cyan;
  color: $neutral-white;
  padding-block: 15px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: $font-family-montserrat;
  font-weight: $font-weight-700;
  cursor: pointer;
}

.icon {
  margin-inline-end: 10px;
}
